@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar for Horizontal Scrolling focus */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Horizontal Scrollbar Height */
  width: 8px;  /* Vertical Scrollbar Width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9; /* Slate-100 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Slate-300 */
  border-radius: 4px;
  border: 2px solid #f1f5f9; /* Padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* Slate-400 */
}
